<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jobs Home Page</title>
    <link rel="stylesheet" type="text/css" href="home.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="test.js"></script>
</head>

<body>
<p id="hm">p-ididi-p</p>
<h1 th:inline="text" style="align-content: center">Junior Java Positions in Germany!</h1>

<div style="margin: 40px" th:each="job, iterStat: ${jobs}">

    <input style="display: none;" th:value="${job.id}">
    <div>
        <span style="font-weight: 700;">Position: </span>
        <a th:href="${job.link}"><span style="color:gray" th:text="${job.name}"/></a>
    </div>
    <div>
        <span style="font-weight: 700;">Employer: </span> <span th:text="${job.company}"/>
    </div>
    <div>
        <span style="font-weight: 700;">Location: </span> <span th:text="${job.location}"/>
    </div>
    <div>
        <span style="font-weight: 700;"> Created: </span><span th:text="${job.created}"/>
    </div>
</div>
<footer>
    &copy; 2018 Toghrul Mammadli
</footer>
</body>
</html>